*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

li, a{
    font-weight: 500;
    font-size: 16px;
    color: #ffeedb;
    text-decoration: none;
}

header{
    background: linear-gradient(to right bottom, rgba(126, 126, 133, 0.8), rgba(25, 26, 27, 0.3));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #3c91e6;
}

.container{
    padding: 0 100px 0 100px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body{
    background-color: #706c61;
}

h1{
    color: #222e50;
    font-size: 10rem;
    z-index: 0;
    opacity: .7;
}
p{
    color: #222e50;
}

li{
    list-style: none;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main{
    height: calc(100vh - 81.6px);
}

.text{
    margin-top: 120px;
}

.text h1{
    color: #ffeedb;
    font-size: 3rem;
    cursor: context-menu;
}

.text span{
    display: inline-block;
}

span:hover{
    color: #ff7839;
    transition: all .5s;
}

span.name{
    color: #222e50;
}

span.m-left{
    margin-left: -10px;
}

.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #222e50;
    color: #222e50;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover{
    color: #fff;
}

.text a::before{
    content: '';
    background-color: #222e50;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before{
    height: 100%;
}

.profile-image img{
    width: 450px;
    margin-top: 50px;
    border-radius: 50%;
}

.about,
.portfolio,
.work{
    height: 100vh;
    margin-top: 100px;
}

.about h1,
.work h1{
    margin-left: 50px;
}

.about-me-info,
.projects,
.experience,
.contact-box{
    max-width: 900px;
    background-color: #706c61;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -50px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: linear-gradient(to right bottom, rgba(126, 126, 133, 0.8), rgba(25, 26, 27, 0.3));
}

.about-me-info p,
.projects p,
.experience p{
    font-size: 1.3rem;
    color: #bebebe;
}

.about-me-info p:nth-child(),
.about-me-info p:last-child(){
    margin-top: 30px;
}

.contact{
    margin-top: 50px;
}

.contact h1,
.portfolio h1{
    margin-right: 50px;
    text-align: right;
}

/* start timeline*/
.timeline ul{
    border-left:  4px solid #222e50;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative
    padding 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -18rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 1px #222e50;
    border-radius: 100%;
    left: -5rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}
/* end timeline*/

form input,
form textarea{
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child{
    width: 150px;
    background-color: #222e50;
    border: none;
    cursor: pointer;
}

footer hr{
    border: 2px solid #ffeedb;
    margin-top: 80px;
}

footer p{
    text-align: center;
    color: #ffeedb;
    font-size: 1.2rem;
    padding: 15px 0;
}