/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url("background.png") no-repeat center fixed;
    background-size: cover;
    color: #ffeedb;
}
/* general */


/* header begin*/
header{
    background: linear-gradient(45deg, #161513, #0a090b);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.navbar{
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a{
    font-weight: 500;
    font-size: 18px;
    color: #ffeedb;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.navbar li a:hover{
    color: #ff0000;
    transition: all 0.3s;
    filter:blur(1px)
}
/* header ending */

/* about */
.about{
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.image{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 420px;
    width: 420px;
    overflow: hidden;
    border-radius: 50%;
}

.image img{
    width: 420px;
    margin-top: -40%;
}

.text-area{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;    
}

.im-doug h1{
    color: #ffeedb;
    font-size: 2.5rem;
    cursor: context-menu;
}

.im-doug h1 span{
    display: inline-block;
}

.im-doug h1 span:hover{
    color: #f8f832;
    transition: all 0.3s;
    filter:blur(1px)
}

.im-doug h1 span.name{
    color: #63030f;
}

.im-doug h1 span.name:hover{
    color: #ff0000;
    transition: all 0.3s;
    filter:blur(1px)
}

.im-doug h1 span.m-left{
    margin-left: -10px;
}

.im-doug p{
    font-size: 1.8rem;
    color: #ffeedb;
}

.social-media a{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #63030f;
    color: #63030f;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 10px;
    overflow: hidden;
    transition: 0.5s;
    display: inline-block;
}

.social-media a:hover{
    color: #fff;
}

.social-media a::before{
    content: '';
    background-color: #63030f;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.social-media a:hover::before{
    height: 100%;
}
/*--about------------------------------------*/

/*-----------core---------------------------*/
.main{
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.main .box{
    position: relative;
    width: 320px;
    height: auto;
    color: #ffeedb;
    background-color: #63030f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.main .box:hover{
    transform: translateY(-20px);
}

.main .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #090a0b, #ff0000);
}

.main .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #090a0b, #ff0000);
    filter: blur(30px);
}

.main .box:nth-child(2)::before,
.main .box:nth-child(2)::after{
    background: linear-gradient(45deg, #818181, #0000ff);    
}
.main .box:nth-child(3)::before,
.main .box:nth-child(3)::after{
    background: linear-gradient(45deg, #ffffff, #ff9100);    
}

.main .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.main .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.main .box .section-content{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.main .box .section-content h2{
    font-size: 2em;
    color: #ffeedb;
    margin-bottom: 10px;
}

.main .box .section-content p{
    font-size: 1.1em;
    color: #ffeedb;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.main .box .section-content a{
    display: inline-block;
    font-size: 1.1em;
    color: #090a0b;
    background: #ffeedb;
    padding: 10px;
    text-decoration: none;
    font-weight:700;
}
/* core --------------------------------------------------------------*/

/* contact -----------------------------------------------------------*/
.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.contact .box{
    position: relative;
    width: 320px;
    height: auto;
    color: #ffeedb;
    background-color: #63030f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.contact .box:hover{
    transform: translateY(-20px);
}

.contact .box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff, #818181);
}

.contact .box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff, #818181);
    filter: blur(30px);
}

.contact .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.contact .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.contact .box .contact-box{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.contact .box .contact-box h2{
    font-size: 2em;
    color: #ffeedb;
    margin-bottom: 10px;
}

.contact .box .contact-box p{
    font-size: 1.1em;
    color: #ffeedb;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.contact .box .contact-box input,
.contact .box .contact-box textarea{
    display: block;
    width: 100%;
    outline: none;
    color: #ffeedb;
    position: relative;
}

.contact .box .contact-box submit{
    width: 100px;
}
/*------contact------------------------------------------------------*/

footer{
    margin-top: 80px;
}

footer p{
    text-align: center;
    color: #ffeedb;
    font-size: 1.2rem;
    padding: 15px 0;
}
/*
.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;    
}

.contact .contact-box{
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;

    position: relative;
    width: 320px;
    height: auto;
    color: #ffeedb;
    background-color: #63030f;
    margin: 20px 30px;
}
/* contact */